<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>admin_pass_details</servlet-name>
        <servlet-class>admin_pass_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_pass_request</servlet-name>
        <servlet-class>admin_pass_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_signup</servlet-name>
        <servlet-class>admin_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_total_pass</servlet-name>
        <servlet-class>admin_total_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_apply_bonafide</servlet-name>
        <servlet-class>student_apply_bonafide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_apply_pass</servlet-name>
        <servlet-class>student_apply_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_login</servlet-name>
        <servlet-class>student_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_payment</servlet-name>
        <servlet-class>student_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_signup</servlet-name>
        <servlet-class>student_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_view_bonafide</servlet-name>
        <servlet-class>student_view_bonafide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_view_pass</servlet-name>
        <servlet-class>student_view_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>college_login</servlet-name>
        <servlet-class>college_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>college_signup</servlet-name>
        <servlet-class>college_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_bonafide_request</servlet-name>
        <servlet-class>view_bonafide_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_bonafide_details</servlet-name>
        <servlet-class>view_bonafide_details</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_pass_details</servlet-name>
        <url-pattern>/admin_pass_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_pass_request</servlet-name>
        <url-pattern>/admin_pass_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_signup</servlet-name>
        <url-pattern>/admin_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_total_pass</servlet-name>
        <url-pattern>/admin_total_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_apply_bonafide</servlet-name>
        <url-pattern>/student_apply_bonafide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_apply_pass</servlet-name>
        <url-pattern>/student_apply_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_login</servlet-name>
        <url-pattern>/student_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_payment</servlet-name>
        <url-pattern>/student_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_signup</servlet-name>
        <url-pattern>/student_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_view_bonafide</servlet-name>
        <url-pattern>/student_view_bonafide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_view_pass</servlet-name>
        <url-pattern>/student_view_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>college_login</servlet-name>
        <url-pattern>/college_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>college_signup</servlet-name>
        <url-pattern>/college_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_bonafide_request</servlet-name>
        <url-pattern>/view_bonafide_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_bonafide_details</servlet-name>
        <url-pattern>/view_bonafide_details</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
